<html>
<head>
    <title><%=basic[0].ques_Id%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>


<div class="container">









    <div class="row">
<div class="col-lg-8">
    <h3><%=basic[1].ques_label%></h3>

</div>
        <div class="col-lg-4">
<h3>Show Solution</h3>
</div>

    </div>



    <div class="row">
        <div class="col-lg-2">
            <span>Level</span><span><%=basic[2].difficulty_level%></span>
        </div>
    </div>





    <div class="row">

        <div class="col-lg-8">
            <p><%=basic[3].statement%></p>
        </div>
    </div>



    <div class="row">

        <div class="col-lg-8">

            <p><%=basic[4].constraints%></p> <br>
            <p><%=basic[5].input_format%></p> <br>
            <p><%basic[6].output_format%></p>
        </div>
    </div>




    <div class="row">

        <div class="col-lg-8">

            <p><%=basic[7].sample_Input%></p> <br>
            <p><%=basic[8].sample_Output%></p>
        </div>
    </div>














</div>












</body>



</html>